@font-face {
  font-family: 'AnoHalf';
  src: url('./assets/fonts/Ano.ttf');
}

@font-face {
  font-family: 'Ano';
  src: url('./assets/fonts/AnoRegular-Regular.otf');
}

.App {
  text-align: center;
  /* font-family: 'AnoHalf'; */
}